apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ aplicacion.databases.nombre }}"
  namespace: "{{ k8s_namespace }}"
spec:
  replicas: {{ aplicacion.databases.replicas }}
  selector:
    matchLabels:
      app: "{{ aplicacion.databases.nombre }}"
  template:
    metadata:
      labels:
        app: "{{ aplicacion.databases.nombre }}"
    spec:
      nodeSelector:
        "kubernetes.io/os": linux
      containers:
      - name: "{{ aplicacion.databases.nombre }}"
        image: "{{ aplicacion.databases.imagen }}"
        env:
        - name: ALLOW_EMPTY_PASSWORD
          value: "yes"
        resources:
          requests:
            cpu: "{{ aplicacion.databases.recursos.cpu }}"
            memory: "{{ aplicacion.databases.recursos.memoria }}"
          limits:
            cpu: "{{ aplicacion.databases.limites.cpu }}"
            memory: "{{ aplicacion.databases.limites.memoria }}"
        ports:
        - containerPort: {{ aplicacion.databases.puerto }}
          name: redis
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ aplicacion.databases.nombre }}"
  namespace: "{{ k8s_namespace }}"
spec:
  ports:
  - port: {{ aplicacion.databases.puerto }}
  selector:
    app: "{{ aplicacion.databases.nombre }}"

